# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm
.idea/

# Environments
.env
.env.*
.venv
.venv.*

# VSCode
.vscode/

# macOS
.DS_Store

# Spyder project settings
.spyderproject
.spyproject

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Data and logs
*.log
*.tsv
*.data
*.dat
*.db
*.sqlite
*.h5
*.hdf5
*.feather
*.parquet
*.json
*.gz

# Local scripts
scripts/